streamlit==1.37.0
streamlit-option-menu==0.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==5.5.0
aniso8601==10.0.0
annotated-types==0.7.0
anyio==4.8.0
astrapy==1.5.2
async-timeout==4.0.1
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
blis==1.2.0
cachetools==5.5.1
cassandra-driver==3.29.2
cassio==0.1.10
catalogue==2.0.10
click==8.1.8
cloudpathlib==0.20.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
coverage==7.6.10
cryptography==44.0.0
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
confection==0.1.5
contourpy==1.3.1
coverage==7.6.10
cryptography==44.0.0
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
deprecation==2.1.0
distlib==0.3.9
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
exceptiongroup==1.2.2
faiss-cpu==1.9.0.post1
Faker==33.3.1
filelock==3.17.0
Flask==3.1.0
Flask-Cors==5.0.0
fonttools==4.55.4
frozenlist==1.5.0
fsspec==2024.12.0
gensim==4.3.3
dnspython==2.7.0
exceptiongroup==1.2.2
faiss-cpu==1.9.0.post1
Faker==33.3.1
filelock==3.17.0
Flask==3.1.0
Flask-Cors==5.0.0
fonttools==4.55.4
frozenlist==1.5.0
fsspec==2024.12.0
gensim==4.3.3
geomet==0.2.1.post1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
haversine==2.9.0
haversine==2.9.0
hpack==4.0.0
hstspreload==2025.1.1
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
hstspreload==2025.1.1
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
hyperframe==6.0.1
idna==3.10
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langchain==0.3.15
langchain-astradb==0.5.2
langchain-community==0.3.15
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-openai==0.3.1
langchain-text-splitters==0.3.5
langchainhub==0.1.21
langcodes==3.5.0
langsmith==0.3.0
language_data==1.3.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langchain==0.3.15
langchain-astradb==0.5.2
langchain-community==0.3.15
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-openai==0.3.1
langchain-text-splitters==0.3.5
langchainhub==0.1.21
langcodes==3.5.0
langsmith==0.3.0
language_data==1.3.0
lingua-language-detector==2.0.2
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==3.0.2
marshmallow==3.25.1
matplotlib==3.10.0
mdurl==0.1.2
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==3.0.2
marshmallow==3.25.1
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.12
multidict==6.1.0
murmurhash==1.0.12
mypy-extensions==1.0.0
narwhals==1.23.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.0
openai==1.59.9
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pdfminer.six==20240706
phonenumbers==8.13.53
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
polib==1.2.0
propcache==0.2.1
psutil==6.1.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
Pygments==2.19.1
pymongo==4.10.1
Pympler==1.1
PyMuPDF==1.25.2
PyMuPDFb==1.24.10
pyparsing==3.2.1
pypdf==5.1.0
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
scipy==1.13.1
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.37
srsly==2.5.1
sympy==1.13.3
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tldextract==5.1.3
toml==0.10.2
tomli==2.2.1
tqdm==4.67.1
typer==0.15.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uuid6==2024.7.10
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.18.3
zstandard==0.23.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uuid6==2024.7.10
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.18.3
zstandard==0.23.0